.vscode
.DS_Store
.gitattributes
lesson_1/main.dSYM
lesson_1/main
lesson_2/type_variable.dSYM
lesson_2/type_variable
lesson_2/type_const.dSYM
lesson_2/type_const
lesson_3/cin_data.dSYM
lesson_3/cin_data
lesson_3/operator.dSYM
lesson_3/operator
lesson_3/home_work.dSYM
lesson_3/home_work
lesson_3/logic_operator.dSYM
lesson_3/logic_operator
lesson_3/home_work2.dSYM
lesson_3/home_work2
lesson_3/if_else_if.dSYM
lesson_3/if_else_if
lesson_4/switch_case.dSYM
lesson_4/switch_case
lesson_4/home_work3.dSYM
lesson_4/home_work3